<a href="https://colab.research.google.com/github/Krishna-Bhagat/Data_Science_Lab/blob/main/Lab1_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {'Name' : ['Krishna' , 'Arjun' , 'Sankar'],
        'Age' : [25,30,35],
        'City' : ['Rajbiraj' , 'Rautahat' , 'Biratnagar']}
df = pd.DataFrame(data)
print(df)

      Name  Age        City
0  Krishna   25    Rajbiraj
1    Arjun   30    Rautahat
2   Sankar   35  Biratnagar

In [ ]:
import pandas as pd
data = [['Sumit',25,'Janakpur'],
        ['Bivek',30,'Duhabi'],
        ['Alok',40,'Biratnagar']]
df = pd.DataFrame(data,columns = ['Name','Age','City'])
print(df)

    Name  Age        City
0  Sumit   25    Janakpur
1  Bivek   30      Duhabi
2   Alok   40  Biratnagar

In [ ]:
import pandas as pd
df = pd.read_csv('/content/sample_data/mnist_train_small.csv')
print(df)

       6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
0      5  0    0    0    0    0    0    0    0    0  ...      0      0      0
1      7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2      9  0    0    0    0    0    0    0    0    0  ...      0      0      0
3      5  0    0    0    0    0    0    0    0    0  ...      0      0      0
4      2  0    0    0    0    0    0    0    0    0  ...      0      0      0
...   .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...    ...
19994  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
19995  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
19996  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
19997  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
19998  5  0    0    0    0    0    0    0    0    0  ...      0      0      0

       0.584  0.585  0.586  0.587  0.588  0.589  0.590
0          0      0      0      0      0      0      0
1          0      0      0      0      0      0      0
2          0      0      0      0      0      0      0
3          0      0      0      0      0      0      0
4          0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...
19994      0      0      0      0      0      0      0
19995      0      0      0      0      0      0      0
19996      0      0      0      0      0      0      0
19997      0      0      0      0      0      0      0
19998      0      0      0      0      0      0      0

[19999 rows x 785 columns]

In [ ]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
data = {'Name' : ['Johan','Alice','Bob'],
        'Age' : [20,30,35],
        'City' : ['New york','London','Paris']}
df = pd.DataFrame(data)